@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}
.myShadow{
  box-shadow: rgba(69, 91, 105, 0.09) 0px 3px 12px;
}

/* body {
  font-family: 'Inter', sans-serif;
} */

input, textarea {
  border: 1px solid #d1d5db;
}

button {
  transition: background-color 0.2s;
}
table {
  font-family: 'Arial', sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* Add subtle shadow */
  border-radius: 10px;
  /* Rounded corners */
  overflow: hidden;
  /* Apply rounded corners to the content */
}

td,
th {
  border: 1px solid #e2e8f0;
  /* Smooth border */
  text-align: left;
  padding: 12px 15px;
  /* Increase padding for better spacing */
}

th {
  background-color: #4a76a8;
  /* Header background color */
  color: white;
  /* Header text color */
  text-transform: uppercase;
  /* Make header text uppercase */
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
  /* Light gray for even rows */
}

tr:nth-child(odd) {
  background-color: white;
  /* White for odd rows */
}

tr:hover {
  background-color: #e6f7ff;
  /* Light blue hover effect */
  transition: background-color 0.3s ease;
  /* Smooth hover transition */
}

/* Disable text selection for a specific element */
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
