@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}
.myShadow{
  box-shadow: rgba(69, 91, 105, 0.09) 0px 3px 12px;
}

/* body {
  font-family: 'Inter', sans-serif;
} */

input, textarea {
  border: 1px solid #d1d5db;
}

button {
  transition: background-color 0.2s;
}